@model WebApplication2.Models.Объект

@{
    ViewBag.Title = "Edit";
}

<h2>Изменение</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Объект</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_объекта)

    <div class="form-group">
        @Html.LabelFor(model => model.Наименование_заказа, "Наименование заказа", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Наименование_заказа, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Наименование_заказа, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_заказчика, "Наименование заказчика", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_заказчика", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_заказчика, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Дата_принятия_заказа, "Дата принятия заказа", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Дата_принятия_заказа, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Дата_принятия_заказа, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Срок_выполнения_работ, "Срок выполнения работ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Срок_выполнения_работ, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Срок_выполнения_работ, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Вид_работ, "Вид работ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Вид_работ, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Вид_работ, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Статус_заказа, "Статус заказа", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Статус_заказа,new SelectList(new[] { "оформлен", "Выполняется", "Завершён" }), new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Статус_заказа, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>@Html.ActionLink("Работа с материалами текущего объекта", "Index", "Материал_объекта", new { usedID = Model.ID_объекта}, "")</div>
    <div>@Html.ActionLink("Просмотр сотрудников текущего объекта", "Index", "Работа_на_объекте", new { usedID = Model.ID_объекта }, "")</div>
    <div>@Html.ActionLink("Просмотр этапов выполнения текущего объекта", "Index", "Этап_выполнения", new { usedID = Model.ID_объекта }, "")</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Обратно", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
