@model WebApplication2.Models.Этап_выполнения

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Этап выполнения</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Дата)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название_этапа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_этапа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Объект.Наименование_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Объект.Наименование_заказа)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Обратно", "Index", new { usedId = ViewBag.usedIParm }, "")
</p>
